.footer {

    background:rgba(0, 0, 0, 1) ;
    position: sticky;
    top: 0;
    z-index: 30;
    backdrop-filter: blur(50px);
    border-radius: 25px;
}

.footer p {
    font-size: 1.5rem;
    text-align: center;
    justify-content: center;
}